@import "@/style/var.less";

.home-box {
   .full;
   .bbox;
   
   .home-header{
      background-color: #fff;
   }


   .sider-item{
      height: 100%;
      background-color: @font-base-color;

      .left-menu{
         height: 100%;
      }
   }
}