@import "../style/var.less";

.login-container {
   .web-base-font;
   .full;
   .flex-center;
   background-image: url("@/static/images/登录背景.jpg");

   .login-form {
      .bbox;

      padding: 1rem;
      width           : 70%;
      height          : 60%;
      background-color: rgba(240, 248, 255, 0.712);
      border-radius   : 3rem;
   }
}

.text-box {
   .bbox;

   // h5 {
   //    padding-left: 1rem;
   //    text-align  : left;
   // }
}