@import "@/style/var.less";

.browser-list-container {
   .bbox;
   overflow: hidden;
   height       : 80vh;
   overflow: scroll;
   padding      : 0 0.5rem;
   width        : 100%;
   // width: max-content;
   

   .browser-table {
      width     : 100%;
      height    : 100%;
   }
}

.ant-table-content,.ant-table-container,.ant-table{
   width: auto;
}